<footer	class="footer" class="container">
<small>
The	<a	href="http://www.railstutorial.org/">Octa Twitter</a>
by	<a	href="http://www.michaelhartl.com/">Xaqib Roy</a>
</small>
<nav>
<ul>
<li><%=	link_to	"About",about_path %></li>
<li><%=	link_to	"Contact",contact_path %></li>
<li><a	href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>